<!DOCTYPE html>
<html>
<head>
    <title>Processing Token</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <script>
        // Auto redirect after animation
        setTimeout(function(){
            window.location.href = "/dealer";
        }, 4000);
    </script>
</head>
<body>

<div class="container">

    <h1>Processing Token...</h1>

    <div class="card">

        <p class="step">🧺 Placing bag on weighing scale...</p>
        <p class="step">⚖️ Weight verification...</p>
        <p class="step">👍 Biometric verification...</p>
        <p class="step">✅ Token Completed Successfully!</p>

    </div>

</div>

</body>
</html>
